<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs307.project.mapper.SelectMapper">
    <resultMap id="StaffEntityMap" type="com.cs307.project.entity.Staff">
        <result column="supply_center" property="supplyCenter"/>
        <result column="mobile_number" property="mobileNumber"/>
    </resultMap>

    <resultMap id="CenterEntityMap" type="com.cs307.project.entity.Center">
    </resultMap>

    <resultMap id="ContractEntityMap" type="com.cs307.project.entity.Contract">
    </resultMap>

    <resultMap id="ModelEntityMap" type="com.cs307.project.entity.Model">
        <result column="unit_price" property="unitPrice"/>
    </resultMap>

    <resultMap id="StaffCountEntityMap" type="com.cs307.project.entity.StaffCount">
        <result column="staff_type" property="staffType"/>
        <result column="count" property="count"/>
    </resultMap>

    <resultMap id="EnterpriseEntityMap" type="com.cs307.project.entity.Enterprise">
        <result column="supply_center" property="supplyCenter"/>
    </resultMap>

    <resultMap id="PlaceOrderEntityMap" type="com.cs307.project.entity.PlaceOrder">
        <result column="contract_num" property="contractNum"/>
        <result column="product_model" property="productModel"/>
        <result column="contract_manager" property="contractManager"/>
        <result column="contract_date" property="contractDate"/>
        <result column="estimated_delivery_date" property="estimatedDeliveryDate"/>
        <result column="lodgement_date" property="lodgementDate"/>
        <result column="salesman_num" property="salesmanNum"/>
        <result column="contract_type" property="contractType"/>
    </resultMap>

    <resultMap id="AvgStockByCenterEntityMap" type="com.cs307.project.entity.AvgStockByCenter">
        <result column="center" property="center"/>
        <result column="avg" property="avg"/>
    </resultMap>

    <resultMap id="StockQuantityEntityMap" type="com.cs307.project.entity.StockQuantity">
        <result column="product_model" property="productModel"/>
    </resultMap>

    <resultMap id="ProductStockEntityMap" type="com.cs307.project.entity.ProductStock">
        <result column="supply_center" property="supplyCenter"/>
        <result column="product_model" property="productModel"/>
    </resultMap>

    <resultMap id="OrderQuantityEntityMap" type="com.cs307.project.entity.OrderQuantity">
        <result column="product_model" property="productModel"/>
    </resultMap>

    <select id="selectStaffByNumber" resultMap="StaffEntityMap">
        SELECT *
        FROM staff
        WHERE number = #{number};
    </select>

    <select id="selectCenterByName" resultMap="CenterEntityMap">
        SELECT *
        FROM center
        WHERE center.name = #{name};
    </select>

    <select id="selectModelByModel" resultMap="ModelEntityMap">
        SELECT *
        FROM model
        WHERE model.model = #{model};
    </select>

    <select id="selectAllStaffCount" resultMap="StaffCountEntityMap">
        SELECT type AS staff_type, count(*) AS count
        FROM staff
        GROUP BY type;
    </select>

    <select id="selectOrderCount" resultType="java.lang.Integer">
        SELECT count(*) AS count
        FROM placeOrder;
    </select>

    <select id="selectEnterpriseByName" resultMap="EnterpriseEntityMap">
        SELECT *
        FROM enterprise
        WHERE enterprise.name = #{name};
    </select>

    <select id="selectStockByModel" resultType="java.lang.Integer">
        SELECT quantity
        FROM stock_info
        where product_model = #{model}
          AND supply_center = #{supply_center};
    </select>

    <select id="selectOrderBySalesman" resultMap="PlaceOrderEntityMap">
        SELECT *
        FROM placeOrder
        WHERE salesman_num = #{salesman};
    </select>

    <select id="selectOrderByContractNum" resultMap="PlaceOrderEntityMap">
        SELECT *
        FROM placeOrder
        WHERE contract_num = #{contract_num}
          AND salesman_num = #{salesman}
        order by estimated_delivery_date, product_model;
    </select>

    <select id="selectStockQuantity" resultMap="StockQuantityEntityMap">
        SELECT product_model, sum(quantity)
        FROM stockIn
        GROUP BY product_model;
    </select>

    <select id="selectOrderQuantity" resultMap="OrderQuantityEntityMap">
        SELECT product_model, sum(quantity)
        FROM stock_info
        GROUP BY product_model;
    </select>

    <select id="selectContractCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM contract;
    </select>

    <select id="getNeverSoldProductCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM (select product_model
              from stock_info
              except
              select product_model
              from placeOrder) as sub;
    </select>

    <select id="getAvgStockByCenter" resultMap="AvgStockByCenterEntityMap">
        select *
        from (select supply_center                                                              as center,
                     round(cast(avg(quantity) over (partition by supply_center) as numeric), 1) as avg
              from stock_info) as sub
        group by center, avg
        order by center;
    </select>

    <select id="selectContract" resultMap="PlaceOrderEntityMap">
        SELECT *
        FROM placeOrder
        WHERE contract_num = #{contract_num}
        order by estimated_delivery_date, product_model;
    </select>

    <select id="selectProductByModel" resultMap="ProductStockEntityMap">
        select supply_center, product_model, sum(quantity) as quantity
        from stock_info
                 left join model on model.model = stock_info.product_model
        where number = #{number}
        group by supply_center, product_model;
    </select>

    <select id="getContractInfo" resultMap="ContractEntityMap">
        SELECT *
        FROM contract
        WHERE contract_num = #{contract_num}
    </select>
</mapper>