<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs307.project.mapper.UpdateMapper">
    <update id="updateOrder">
        UPDATE placeOrder
        SET quantity                = #{quantity},
            estimated_delivery_date = #{estimatedDeliveryDate},
            lodgement_date          = #{lodgementDate}
        WHERE contract_num = #{contractNum}
          AND product_model = #{productModel}
          AND salesman_num = #{salesmanNum};
    </update>

    <update id="updateStockInfo">
        UPDATE stock_info
        SET quantity = #{quantity}
        WHERE product_model = #{productModel} AND supply_center = #{supplyCenter};
    </update>

</mapper>